/*
  Light Mode Color Scheme
*/
:root {
  --color-anchor: #337ab7;
  --color-bg: #fff;
  --color-blockquote-text: #777;
  --color-code-bg: #f7f7f7;
  --color-code-text: #333;
  --color-divider: #cdcdcd;
  --color-heading: #333;
  --color-table-border: #c2c2c2;
  --color-table-row-even: #f0f0f0;
  --color-table-row-header: #e8e6e6;
  --color-table-row-odd: #fbfbfb;
  --color-toggle-accent: #c3a554;
  --color-text: #333;
}

/*
  Dark Mode Color Scheme
*/
html.dark {
  --color-anchor: #77e1cd;
  --color-bg: #1c1c1c;
  --color-blockquote-text: #c0bcbc;
  --color-code-bg: #313030;
  --color-code-text: #fefefe;
  --color-divider: #8b8b8b;
  --color-heading: #dfdfdf;
  --color-table-border: #767676;
  --color-table-row-even: #181818;
  --color-table-row-header: #000;
  --color-table-row-odd: #333333;
  --color-toggle-accent: #a076ce;
  --color-text: #fafafa;
}

/*
  Apply colors to general doc selectors
*/
html,
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/*
  Typography & doc elements
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  border-color: var(--color-divider);
}

,
div,
span,
p,
li,
th,
td,
dd,
dl {
  color: var(--color-text);
}

a:link,
a:visited,
a:active,
a:checked {
  color: var(--color-anchor);
}

hr {
  background-color: var(--color-divider);
}

blockquote,
.markdown-body blockquote,
blockquote *,
.markdown-body blockquote * {
  border-color: var(--color-divider);
  color: var(--color-blockquote-text);
}

/*
  Code blocks and formatted text
*/
.markdown-body code,
.markdown-body code *,
pre,
code,
pre code,
pre *,
code *,
pre code * {
  background-color: var(--color-code-bg);
  color: var(--color-code-text);
}